/* Content Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
}

/* HEADER */
#header {
    color: rgb(225, 225, 225);
    z-index: 1;
}

.hcontainer {
    background-color: white;
    padding: 6px 7%;
    transition: .3s;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    position: relative;
    z-index: 10;
    
}

.hlogo {
    font-size: 30px;
    letter-spacing: 5px;
    
}
.hlogo h1{
    font-family: "Rowdies";
    font-weight: 700;
    font-style: normal;
    color: rgba(150, 145, 128, 0.947);
}

nav ul {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
}

nav ul li {
    list-style-type: none;
    
}

nav ul li a {
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 1px;
    color: rgba(150, 145, 128, 0.947);
    font-weight: 600;
    padding: 10px;
    transition: .3s;
    font-family: "Rowdies";
    font-weight: 570;
    font-style: normal;
    
}

nav ul li a:hover{
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
}

.menu_icon {
    display: none;
}

.menu_icon i {
    font-size: 30px;
}
nav ul li a, .hlogo {
    transition: .4s;
}

/* MEDIA QUERIES FOR NAV */
@media (max-width: 1400px) {
    .hcontainer {
        padding: 0;
    }
}

@media (max-width: 1250px) {
    .hcontainer {
        position: fixed;
        top: 0px;
        left: 0;
        width: 100%;
        z-index: 110;
        background-color: white;
    }
    nav ul {
        position: fixed;
        display: inline-block;
        top: 70px;
        right: 0;
        flex-direction: column;
        background: white;
        gap: 0;
        width: 250px;
        height: 100vh;
        overflow: hidden;
    }

    nav ul li a {
        display: inline-block;
        background-color: none;
        padding: 20px;
        width: 100%;
        letter-spacing: 2px;
        font-weight: 600px;
    }

    nav ul li a:hover {
        background-color: rgb(236, 236, 236);
    }

    .menu_icon {
        display: block;
        cursor: pointer;
        z-index: 1000;
        color: rgba(128, 128, 128, 0.377);
    }

    #menuList {
        transition: all 0.5s;
    }

    /* HTEXT */
    #htext {
        padding-top: 150px;
    }
}

/* Fullscreen Slider Styling */
.slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.slides {
    display: flex;
    transition: transform 1s ease-in-out;
    height: 100%;
}

.slide {
    min-width: 100%;
    height: 100%;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ABOUT */
#index {
    padding: 5% 3%;
    background-color: rgba(150, 145, 128, 0.947);
    color: white;
}
@media (max-width: 1260px) {
    #index {
        padding: 10% 3%;
    }
}

@media (max-width: 1050px) {
    #index {
        padding: 15% 3%;
    
    }
}

@media (max-width: 1050px) {
    #index {
        padding: 15% 3%;
        
    }
    .iimg h1 {
        font-size: 50px !important;
        
    }
    .iimg p{
        font-size: 27px !important;
    }
    .compass h1{
        margin-bottom: 10px ;
    }
   
}
@media (max-width: 820px) {

    .iimg{
        flex-basis: 50% !important;
        margin-top: 30px;
    }
    .iimg p{
        font-size: 27px !important;
    }
    .compass h1{
        font-size: 200px !important;
        margin-top: 30px;
    }

   
}


@media (max-width: 745px) {

    .iimg{
        flex-basis: 30% !important;
        flex-basis: 100% !important;
        margin-top: 30px;
    }
    .iimg p{
        font-size: 27px !important;
    }
    .compass h1{
        font-size: 170px !important;
        margin-top: 40px !important;
    }

   
}
.icontainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.iimg {
    flex-basis: 65%;
    position: relative;
}
.iimg h1 {
    font-family: "Rowdies";
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    margin-bottom: 10px;
}

.itext {
    flex-basis: 30%;
    padding: 25px;
}

.compass h1{
    width: 100%;
    height: 100%;
    display: inline-flex;   
    align-items: center;
    justify-content: center;
    font-size: 190px;
}

.iimg p{
    font-family: "Questrial", serif;
  font-weight: 550;
  font-style: normal;
    font-size: 27px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-50px);
    }
    60% {
        transform: translateY(-20px);
    }
}

.compass h1:hover {
    animation: bounce 1s;
}


/* FOOTER */
#footer {
    padding: 3% 5% ;
    background-color: rgb(78, 78, 78);
}

.fcontent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.fcontent *  h1 {
    font-family: "Rowdies";
    font-weight: 570;
    font-style: normal;
    font-size: 35px;
    color: white;
    letter-spacing: 2px;
}

.fcontent * p {
    font-family: "Questrial", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: white;
    
}

.wname {
    flex-basis: 40%;
    padding-top: 15px;
}

.wname h1{
    font-size: 35px;
    padding-bottom: 10px;
    letter-spacing: 4px;
}

.wtext {
    padding-bottom: 200px;
    opacity: .7;
}
.cright {
    padding-bottom: 30px;
}

.fitems {
    flex-basis: 10%;
    padding: 20px;
}

.fplaces {
    flex-basis: 17%;
    padding: 20px;
}

.fitems a, .fplaces a{
    text-decoration: none;
    color: white;
    transition: .3s;
    letter-spacing: 2px;
    opacity: .7;
}

.fitems a:hover, .fplaces a:hover{
    color: rgb(239, 239, 155);
    opacity: 1;
}


.fitems p, .fitems h1, .fplaces p, .fplaces h1 {
    padding-bottom: 15px;
}

@media (max-width: 1280px) {
    .wname {
        flex-basis: 30%;
    }
}

@media (max-width: 1400px) {
    .wname {
        flex-basis: 90%;
    }
    .wtext {
        padding-bottom: 20px;
    }
}

@media (max-width: 850px) {
    .fitems {
        flex-basis: 40%;
    }
}


/* MENU */
#p1cmenu {
    background-color: #e0e0e0;
}

.pm1container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px,1fr));
    grid-template-rows: 500px;
}


@media (max-width: 650px) {
    .pm1container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
        grid-template-rows: 500px;
    }
    .pm1container .p1col1 h1{
        font-size: 50px !important; 
        
    }
    .pm1container .p1col2 h1{
        font-size: 50px !important; 
        text-align: center;
    }
    .pm1container .p1col3 h1{
        font-size: 40px !important; 
        text-align: center;
    }
    .pm1container .p1col4 h1{
        font-size: 50px !important; 
        text-align: center;
    }
    

    .boraover h1 a{
        font-size: 47px !important; 
        text-align: center;
    }
    .hunover h1 a{
        font-size: 47px !important; 
        text-align: center;
    }
    .banover h1 a{
        font-size: 47px !important; 
        text-align: center;
    }
    .moover h1 a{
        font-size: 47px !important; 
        text-align: center;
    }
}

.pm1container > div {
    
    padding: 40px;
    height: 500px;
    color: white;
    transition: 0.5s;

}

.pm1container * a {
    text-decoration: none;
    
}


.pm1container .p1col1 {
    background: url(HomepagePictures/boracay.jpg);
    background-position: center;
    padding: 40px;
    color: white;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .9;
    position: relative;
    

}

.pm1container .p1col1 h1{
    font-size: 60px;
    font-family: "Rowdies";
    font-weight: 570;
    font-style: normal;
    font-size: 100px;
    color: white;
    letter-spacing: 2px;
    transition: 0.5s;
}

@media (max-width: 1500px) {
    .pm1container .p1col1 h1{
        font-size: 80px;
    }
    
}

.pm1container .boraover {
    height: 100%;
    width: 100%;
    background-color: rgb(193, 94, 2);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .3s;
   
}

.boraover a {
    font-size: 100px !important;
    font-family: "Rowdies";
    font-weight: 570;
    font-style: normal;
    font-size: 50px;
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
    transition: 0.5s;

}

.boraover a:hover {
    color: rgb(0, 0, 0);

}

.boraover > * {
    transform: translateY(25px);
    transition: .3s;
}

.pm1container .p1col1:hover  > .boraover{
    opacity: 1;
}

.boraover:hover > * {
    transform: translateY(0px);

}



.pm1container .p1col2 {
    background: url(HomepagePictures/hundredisland.jpg);
    background-position: center;
    padding: 40px;
    color: white;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .8;
    position: relative;
}

.pm1container .p1col2 h1 {
    font-size: 60px;
    font-family: "Rowdies";
    font-weight: 900;
    font-style: normal;
    font-size: 60px;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    transition: 0.5s;
}
@media (max-width: 1600px) {
    .pm1container .p1col2 h1{
        text-align: center;
    }
    .pm1container .p1col3 h1{
        
        text-align: center;
    }
    .pm1container .p1col4 h1{
        
        text-align: center;
    }
    
    
}

@media (max-width: 1190px) {
    .pm1container .p1col1 h1{
        font-size: 80px ;
        text-align: center;
    }
    .pm1container .p1col2 h1{
        font-size: 80px ;
        text-align: center;
    }
    .pm1container .p1col3 h1{
        font-size: 80px ;
        text-align: center;
    }
    .pm1container .p1col4 h1{
        font-size: 80px ;
        text-align: center;
    }
    
    
}


@media (max-width: 1580px) {
    .boraover h1{
        text-align: center;
    }
    .hunover h1{
        text-align: center;
    }
    .banover a{
        text-align: center;
    }
    .moover a{
        text-align: center;
    }
    
    
}

.pm1container .hunover {
    height: 100%;
    width: 100%;
    background-color: rgb(10, 201, 214);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .3s;
   
}

.hunover a {
    font-size: 100px !important;
    font-family: "Rowdies";
    font-weight: 570;
    font-style: normal;
    font-size: 50px;
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
    transition: .5s;

}

.hunover a:hover {
    color: rgb(0, 0, 0);

}

.hunover > * {
    transform: translateY(25px);
    transition: .3s;
}

.pm1container .p1col2:hover  > .hunover{
    opacity: 1;
}

.hunover:hover > * {
    transform: translateY(0px);

}



.pm1container .p1col3 {
    background: url(HomepagePictures/banauerice.jpg);
    background-position: center;
    padding: 40px;
    color: white;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .8;
    position: relative;

}

.pm1container .p1col3 h1 {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-family: "Rowdies";
    font-weight: 570;
    font-style: normal;
    font-size: 50px;
    color: white;
    letter-spacing: 2px;
    transition: 0.5s;
}

.pm1container .banover {
    height: 100%;
    width: 100%;
    background-color: rgb(30, 100, 5);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .3s;
   
}

.banover a {
    font-size: 100px !important;
    font-family: "Rowdies";
    font-weight: 570;
    font-style: normal;
    font-size: 50px;
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
    transition: .5s;

}

.banover a:hover {
    color: rgb(0, 0, 0);

}

.banover > * {
    transform: translateY(25px);
    transition: .3s;
}

.pm1container .p1col3:hover  > .banover{
    opacity: 1;
}

.banover:hover > * {
    transform: translateY(0px);

}

.pm1container .p1col4 {
    background: url(HomepagePictures/pinatubo.png);
    background-position: center;
    padding: 40px;
    color: white;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .8;
    position: relative;
}

.pm1container .p1col4 h1 {
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-family: "Rowdies";
    font-weight: 570;
    font-style: normal;
    font-size: 50px;
    letter-spacing: 2px;
    transition: 0.5s;
}

.pm1container .moover {
    height: 100%;
    width: 100%;
    background-color: rgb(94, 75, 6);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .3s;
   
}

.moover a {
    font-size: 100px !important;
    font-family: "Rowdies";
    font-weight: 570;
    font-style: normal;
    font-size: 50px;
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
    transition: .5s;

}

.moover a:hover {
    color: rgb(0, 0, 0);

}

.moover > * {
    transform: translateY(25px);
    transition: .3s;
}

.pm1container .p1col4:hover  > .moover{
    opacity: 1;
}

.moover:hover > * {
    transform: translateY(0px);

}